<sebm-google-map  [latitude]="latitude"
                  [longitude]="longitude"
                  [streetViewControl]="false"
                  [zoom]="zoom">
  <!--sebm-google-map-marker [latitude]="latitude" [longitude]="longitude" [label]="'M'"></sebm-google-map-marker-->
  <div *ngFor="let item of peersPositions">
    <div *ngIf="item.time > -30000">
      <sebm-google-map-marker
                                [latitude]="item.position.latitude"
                                [longitude]="item.position.longitude"
                                ></sebm-google-map-marker>
    </div>
  </div>
  <!-- circle online -->
  <div *ngFor="let item of peersPositions">
    <div *ngIf="item.time > -30000">
      <sebm-google-map-circle
                                [latitude]="item.position.latitude"
                                [longitude]="item.position.longitude"
                                [fillColor]=item.color
                                [fillOpacity]="1.0"
                                [strokeColor]=item.color
                                [strokeOpacity]="0.0"
                                [radius]="20"
                                ></sebm-google-map-circle>
    </div>
  </div>
  <!-- circle offline -->
  <div *ngFor="let item of peersPositions">
    <div *ngIf="item.time <= -30000">
      <sebm-google-map-circle
                                [latitude]="item.position.latitude"
                                [longitude]="item.position.longitude"
                                [fillColor]=item.color
                                [fillOpacity]="0.5"
                                [radius]="10"
                                ></sebm-google-map-circle>
    </div>
  </div>
</sebm-google-map>
<!--
<div *ngFor="let item of peersPositions">
  {{item.name}}:{{item.time}}
</div>
-->
