<sebm-google-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
  <sebm-google-map-marker [latitude]="latitude" [longitude]="longitude" [label]="'M'"></sebm-google-map-marker>
  <sebm-google-map-circle *ngFor="let item of peersPositions"
                            [latitude]="item.position.latitude"
                            [longitude]="item.position.longitude"
                            [fillColor]=item.color
                            [fillOpacity]="1.0"
                            [strokeColor]="item.color"
                            [strokeOpacity]="0.0"
                            [radius]="20"
                            ></sebm-google-map-circle>
</sebm-google-map>
<div *ngFor="let item of peersPositions">
  {{item.id}}:{{item.color}}
</div>
