#name {
  font-size:2em;
}
#edit {
  margin-left: 0.5em;
}
#email {
  font-size: 2em;
}
#password {
  font-size: 2em;
}
#changename-input {
  font-size: 2em;
}
#login-button{
  visibility:hidden;
}
.loggedin {
  display:none;
}
#login-button.loaded {
  visibility: visible !important;
}
#login-message.loaded {
  display: none;
}
