.row {
  //text-align: center;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
#name {
  font-size:2em;
}
#edit {
  margin-left: 0.5em;
}
#email {
  font-size: 2em;
}
#password {
  font-size: 2em;
}
#modal-wrapper {
  padding-top:0;
  padding-bottom:0;
  margin-top: 0;
  margin-bottom: 0;
}
#changename-input {
  font-size: 2em;
  padding-top:0;
  padding-bottom:0;
}
#login-button{
  visibility:hidden;
}
.loggedin {
  display:none;
}
#login-button.loaded {
  visibility: visible !important;
}
#login-message.loaded {
  display: none;
}
