body{
  font-weight: bold;
}
#chatbox {
  margin-bottom: 0;
}
#chatbox-input {
  margin-bottom: 0;
}
#name {
  color: white;
  border-radius: 10px;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.slateblue {
  background-color: slateblue;
}
.mediumblue {
  background-color: mediumblue;
}
.dodgerblue {
  background-color: dodgerblue;
}
.limegreen {
  background-color: limegreen;
}
.hotpink {
  background-color: hotpink;
}
.lightsalmon {
  background-color: lightsalmon;
}
.lightseagreen {
  background-color: lightseagreen;
}
.mediumturquoise {
  background-color: mediumturquoise;
}
.orange {
  background-color: orange;
}
.slateBlue {
  background-color: SlateBlue;
}
