td, tr {
  padding: 0;
}
div {
  font-style: bold;
}
i {
  cursor: pointer;
}
.chip {
  font-weight: bold;
  color: white;
  -ms-user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  cursor: pointer;
}
.mediumblue{
  background-color: mediumblue;
}
.slateblue {
  background-color: slateblue;
}
.hotpink {
  background-color: HotPink;
}
.lightsalmon {
  background-color: LightSalmon;
}
.lightseagreen {
  background-color: LightSeaGreen;
}
.mediumturquoise {
  background-color: MediumTurquoise;
}
.limegreen {
  background-color: limegreen;
}
.orange {
  background-color: Orange;
}
.dodgerblue {
  background-color: dodgerblue;
}
.slateBlue {
  background-color: SlateBlue;
}
.addbutton{
  background-color: black;
}
.modal-add {
  float: right;
}
